[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
loguru = "*"
aiohttp = "*"
aiofiles = "*"
cchardet = "*"
aiodns = "*"

[requires]
python_version = "3.7"
